.hero{  
    .carousel{
        .carousel-inner{
            .carousel-item{
                    .carousel-caption{
                        right: 15%;
                        bottom:30%;
                        text-align: left;
                        max-width: 61.5rem;
                        left: auto;
                        top:auto;
                        padding:5px;
                        h1{
                            font-weight: bold;
                            font-size: 16rem;
                            letter-spacing: 0.02em;
                            color: rgba(196, 196, 196, 0.15);
                            text-transform: uppercase;
                        }
                        p{
                            font-weight: bold;
                            font-size: 3rem;
                            letter-spacing: 0.01em;
                            color:var(--main-color3);
                        }
                        h5{
                            font-weight: lighter;
                            font-size: 1.2rem;
                            letter-spacing: 0.02em;
                            color: var(--main-color3);
                            text-transform: uppercase;
                            span{
                                margin-left: 1.9rem;
                                font-weight: normal;
                                font-size: 1.2rem;
                                letter-spacing: 0.02em;
                                color: var(--main-color3);
                            }
                        }
                        .btn-hero{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 1.9rem;
                            height: 4rem;
                            padding: 1.3rem 3.7rem;
                            border: 1px solid var(--main-color1);
                            border-radius: 5px;
                            font-style: normal;
                            font-size: 1.4rem;
                            letter-spacing: 0.1em;
                            color: var(--main-color1);
                            text-transform: uppercase;
                            transition: .3s ease;
                            &:hover{
                                color: var(--main-color3);
                                background-color: var(--main-color1);
                            }
                        }
                    }
                    .gradient{
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.5);
                    }
                }
        }
        .slider-buttons{
            position: absolute;
            right: 7.1rem;
            bottom: 4.5rem;
            .btn-prev{
                width: 3rem;
                height: 3rem;
                margin-right: 1.2rem;
                .carousel-control-prev-icon{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .btn-next{
                width: 3rem;
                height: 3rem;
                .carousel-control-next-icon{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.novidades{
    margin-top: 18rem;
    margin-left: 16.8rem;
    .section-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 112.6rem;
        margin: 0 auto;
        .container-fluid{
            h2{
                position: relative;
                font-size: 9.5rem;
                color: var(--text-color1);
                text-transform: uppercase;
                font-weight: lighter;
                letter-spacing: 1rem;
                &:after{
                    position: absolute;
                    content: "";
                    width: 25rem;
                    border: 1px solid rgba(212, 20, 44, 0.4);
                    position: absolute;
                    left:8px;
                    bottom: -1px;
                }
            }
            .row{
                align-self: start;
                margin-top: 7.5rem;
                .col-lg-4{
                    .card{
                        position: relative;
                        max-width: 34.4rem;
                        height: 50.4rem;
                        border-radius: 0;
                        border: none;
                        img{
                            cursor: pointer;
                        }
                        .class-img-top{
                            max-width: 34.4rem;
                            height: 26.6rem;
                            object-fit: cover;
                            position: relative;
                        }
                        .card-body{
                            padding: 1rem 0;
                            cursor: pointer;
                            h4{
                                font-weight: bold;
                                font-size: 1.4rem;
                                color: var(--main-color1);
                                text-transform: uppercase;
                            }
                            h3{
                                max-width: 30rem;
                                font-weight: bold;
                                font-size: 2.5rem;
                                color: var(--main-color2);
                                transition: color .3s ease;
                                &:hover{
                                    color: var(--main-color1);
                                }
                            }
                            h5{
                                margin-top: 1rem;
                                display: flex;
                                font-weight: lighter;
                                font-size: 1.2rem;
                                color: var(--main-color2);
                                span{
                                    font-weight: normal;
                                    margin-left: 1.2rem;
                                }
                            }
                            p{
                                margin-top: 1rem;
                                font-size: 1.4rem;
                                color: #5E5D5D;
                            }
                        }
                        .text-overlay{
                           position: absolute;
                           left: 1.4rem;
                           bottom: 6rem;
                           h4{
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: var(--main-color1);
                            text-transform: uppercase;
                           }
                           h3{
                            max-width: 30rem;
                            font-weight: bold;
                            font-size: 2.5rem;
                            color: var(--main-color3);
                           }
                           h5{
                            margin-top: 1rem;
                            display: flex;
                            font-weight: lighter;
                            font-size: 1.2rem;
                            color: var(--main-color3);
                            span{
                                font-weight: normal;
                                margin-left: 1.2rem;
                            }
                        }
                        }
                        .gradient{
                            position: absolute;
                            background: linear-gradient(180deg, rgba(255, 243, 243, 0.6) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.6) 59.9%);
                            width: 32.7rem;  
                            height: 47rem;
                            cursor: pointer;
                        }
                    }
                }
            }
            .banner{
                margin-top: 10.4rem;
                max-width: 111.8rem;
                cursor: pointer;
            }
        }
        .btn-novidades{
            display: flex;
            align-items: center;
            margin-top: 4.4rem;
            padding: 1.3rem 7.4rem;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--main-color1);
            border: 1px solid var(--main-color1);
            border-radius: 5px;
            transition: .3s ease;
            &:hover{
                color:var(--main-color3);
                background-color: var(--main-color1);
            }
            img{
                margin-left: 1.1rem;
            }
        }
    }
}

.mais-lidos{
    margin-top: 18rem;
    margin-left: 16.8rem;
    .section-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 112.6rem;
        margin: 0 auto;
        .container-fluid{
            h2{
                position: relative;
                font-size: 9.5rem;
                color: var(--text-color1);
                text-transform: uppercase;
                font-weight: lighter;
                letter-spacing: 1rem;
                &:after{
                    position: absolute;
                    content: "";
                    width: 25rem;
                    border: 1px solid rgba(212, 20, 44, 0.4);
                    position: absolute;
                    left:8px;
                    bottom: -1px;
                }
            }
            .row{
                align-self: start;
                margin-top: 7.5rem;
                .col-lg-4{
                    .card{
                        max-width: 34.4rem;
                        max-height: 50.4rem;
                        border-radius: 0;
                        border: none;
                        .class-img-top{
                            max-width: 34.4rem;
                            height: 26.6rem;
                            position: relative;
                        }
                        .card-body{
                            padding: 1rem 0;
                            h4{
                                font-weight: bold;
                                font-size: 1.4rem;
                                color: var(--main-color1);
                                text-transform: uppercase;
                            }
                            h3{
                                max-width: 30rem;
                                font-weight: bold;
                                font-size: 2.5rem;
                                color: var(--main-color2);
                            }
                            h5{
                                margin-top: 1rem;
                                display: flex;
                                font-weight: lighter;
                                font-size: 1.2rem;
                                color: var(--main-color2);
                                span{
                                    font-weight: normal;
                                    margin-left: 1.2rem;
                                }
                            }
                            p{
                                margin-top: 1rem;
                                font-size: 1.4rem;
                                color: #5E5D5D;
                            }
                        }
                        .text-overlay{
                           position: absolute;
                           left: 1.4rem;
                           bottom: 3.2rem;
                           h4{
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: var(--main-color1);
                            text-transform: uppercase;
                           }
                           h3{
                            max-width: 30rem;
                            font-weight: bold;
                            font-size: 2.5rem;
                            color: var(--main-color3);
                           }
                           h5{
                            margin-top: 1rem;
                            display: flex;
                            font-weight: lighter;
                            font-size: 1.2rem;
                            color: var(--main-color3);
                            span{
                                font-weight: normal;
                                margin-left: 1.2rem;
                            }
                        }
                        }
                        .gradient{
                            position: absolute;
                            background: linear-gradient(180deg, rgba(255, 243, 243, 0.6) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.6) 59.9%);
                            width: 32.7rem;  
                            height: 47rem;
                            cursor: pointer;
                        }
                        
                    }
                    .lower-card{
                        margin-top: 5.5rem;
                    }
                }
            }
            .banner{
                margin-top: 10.4rem;
                max-width: 111.8rem;
                cursor: pointer;
            }
        }
}
}

.social-navbar{
    top: 25rem;
    left: 7rem;
    position: fixed;
    z-index: 999;
    .nav-itens{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 13.8rem;
        li{
            cursor: pointer;
            .social-mg-wrapper{
                width: 3rem;
                height: 3rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
        }
    }

}

.newsletter{
    margin-top: 18rem;
    .section-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 95rem;
        margin: 0 auto;
        .container-fluid{
            h2{
                position: relative;
                font-size: 9.5rem;
                color: var(--text-color1);
                text-transform: uppercase;
                font-weight: lighter;
                letter-spacing: 1rem;
                &:after{
                    position: absolute;
                    content: "";
                    width: 25rem;
                    border: 1px solid rgba(212, 20, 44, 0.4);
                    position: absolute;
                    left:8px;
                    bottom: -1px;
                }
            }
        .email{
            margin-top: 4.4rem;
            display: flex;
            align-items: center;
            .input-group{
                max-width: 48.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                input{
                    width: 100%;
                    max-width: 34.6rem;
                    height: 4.5rem;
                    font-weight: lighter;
                    font-size: 1.4rem;
                    letter-spacing: 0.05em;
                    color: #A39D9D;
                    &::placeholder{
                        padding-left: 3rem;
                    }
                }
                button{
                    width: 100%;
                    max-width: 13rem;
                    height: 6rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    color: var(--main-color3);
                    background-color: var(--main-color1);
                    border-radius: 5px;
                    z-index: 2;
                    &:hover{
                        background-color: #eb1730;
                    }
                }
            }
            p{
                max-width: 45rem;
                width: 100%;
                font-weight: bold;
                font-size: 2.5rem;
                color:var(--main-color2);
            }
        }
        }
    }
}

.blog-info{
    max-width: 91rem;
    margin: 0 auto;
    margin-top: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        width: 100%;
        max-width: 15.5rem;
        font-weight: bold;
        font-size: 2rem;
        color: var(--text-color2);
    }
    p{
        max-width: 65rem;
        width: 100%;
        font-size: 1.4rem;
        color: #5E5D5D;
    }
}


footer{
    margin-top: 6.8rem;
    width: 100%;
    height: 100%;
    background-color: var(--text-color2);
    .section-container{
        max-width: 124rem;
        margin: 0 auto;
        nav{
            .container-fluid{
                margin-top: 3.7rem;
                ul{
                    li{
                        a{
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        letter-spacing: 0.05rem;
                        color: var(--main-color3);
                        }
                    }
                }
                .footer-itens{
                    width: 100%;
                    max-width: 64.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .navbar-social{
                    width: 100%;
                    max-width: 11.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        p{
            margin-top: 5rem;
            margin-bottom: 0;
            text-align: center;
            font-size: 1.4rem;
            color: var(--main-color3);
        }
    }
}

